@page "/"
@using SudokuSolver.Client.Components
@using SudokuSolver.Shared
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager

<CascadingValue Value="state">
    <SudokuGrid />
</CascadingValue>

<div class="flex justify-center mt-5">
    <button @onclick="GenerateGrid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-5">
        Generate
    </button>
    <button @onclick="GenerateGridNew" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Generate New
    </button>
</div>

@code{
    private SudokuState state;

    protected override void OnInitialized()
    {
        state = new SudokuState();
        state.OnStateChanged += StateHasChanged;
    }

    #region SignalR
    private HubConnection _hubConnection;
    protected override async Task OnInitializedAsync()
    {
        _hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/SudokuHub"))
            .WithAutomaticReconnect()
            .Build();

        await _hubConnection.StartAsync();
        await GenerateGrid();
    }

    async Task GenerateGrid()
    {
        await _hubConnection.SendAsync("GenerateGrid");
    }

    async Task GenerateGridNew()
    {
        await _hubConnection.SendAsync("GenerateGridNew");
    }

    public bool IsConnected =>
        _hubConnection.State == HubConnectionState.Connected;
    #endregion
}