<div class="grid grid-cols-3 grid-rows-3 border-collapse border-2 border-black h-64 w-64">
    @for (int i = 1; i <= 9; i++)
    {
        <div class="flex justify-center items-center border border-black">
            @i
        </div>
    }
</div>